<h1><%= @post.title %></h1>
<% if @post.cover_picture.attached? %>
    <%= image_tag @post.cover_picture, width: "40%" %>
<% end %>



<h2>Краткое описание</h2>
<p> <%= @post.summary %> </p>


<strong>Текст поста</strong>
<p><%= @post.body %> </p>
<section>
  <small>
    <%if @post.user_id == current_user&.id %>
      <%= link_to 'Редактировать пост', edit_post_path(@post) %>
      <%= link_to 'Удалить пост',post_path(@post), method: :delete, data: {confirm: 'Вы уверены?'} %>
    <% end %>
  </small>
  <hr>
  <h2>Комментарии</h2>
<% @post.comments.each do |comment| %>
   <div class="alert alert-light">
    <p><strong><%= comment.username%></strong>: <%= comment.username%>
    </p>
   </div>
<% end %>

  <h2>Добавление комментария</h2>
    <%= form_for ([@post, @post.comments.build]) do |f| %>
      <p>
        Пользователь<br>
        <%= f.text_field(:username, {:class => 'form-control'}) %>
      </p>
      <p>
        Комменатрий<br>
        <%= f.text_area(:body, {:class => 'form-control'}) %>   
      </p>
      <p>
        <%= f.submit("Добавить комментарий", {:class => 'btn btn-warning'}) %>
      </p>
    <% end %>
</section>